li{
  margin-right: 10px;
}

NavLink{
  color: aliceblue;
}

.one{
  float: right;
  margin-top: -50px;
  display: flex;
  gap:10px
}
.two{
  margin-top: 20px;
}
.three{
  margin-top: 5px;
}

.four{
  margin-top: 60px;

}

.form-control{
  margin-bottom: 20px;
}

ul{
  gap: 30px;
}

.card{margin-top: 30px;
  margin-bottom:30px;
      }

.btn-secondary{margin-right: 50px;
}

.six{
  margin-top: 60px;
}



    

